.locations__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid #49562A;
  padding: 10px;
  border-radius: 10px;
  min-height: 180px;
  background-color: #e6ead4;
}