.episode__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.episode__prev-next-btn-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

}