.character__container {
  margin-top: 60px;
}

.character__card {
  display: flex;
  flex-direction: column;
  background-color: #e6ead4;
  border-bottom: 1px solid #49562A;
  border-radius: 3px;
  gap: 10px;
  padding: 20px;
}

.character__img {
  border-radius: 3px;
}

.character__prev-next-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.character__loader-container {
  display: flex;
  justify-content: center;

}