.episodes__form {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.episodes__input {
  border: none;
  padding-left: 10px;
  border-radius: 3px;
  background-color: #eff1e3;
}

.episodes__card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  border: 1px solid #49562A;
  padding: 10px;
  border-radius: 3px;
}

.episodes__error-msg-container {
  display: flex;
  justify-content: center;
}