.characters__container {
  margin-bottom: 30px;
}

.characters__card {
  background-color: #e6ead4;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #49562A;
}

.characters__img {
  border-radius: 5px;
}

.characters__info-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.characters__title {
  color: #49562A;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.character__status--alive {
  color: green;
}

.character__status--dead {
  color: red;
}

.character__status--unknown {
  color: grey;
}

.characters__button-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.characters__read-more-btn-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}